@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
.body .header {
  height: 90px;
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .body .header .header__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 375px; }
  .body .header .header__link {
    color: #010101;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-family: 'OpenSans-Regular';
    padding: 10px 15px;
    margin-right: 15px; }
    .body .header .header__link:hover {
      background: #ffb744;
      border-radius: 5px; }
  .body .header .header__link-active {
    background: #ffb744;
    border-radius: 5px; }
  .body .header .header__link-out {
    color: #bcbcbc; }
    .body .header .header__link-out i {
      margin-right: 5px; }
.body .main-section {
  width: 970px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .body .main-section .main-section__left {
    width: 265px; }
    .body .main-section .main-section__left .main-section__leftInfoMenu {
      margin-bottom: 20px;
      background: #eeeeee;
      width: 230px; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftInfoMenu__userName {
        width: 230px;
        padding-left: 15px;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        vertical-align: middle;
        height: 60px;
        background: #b35a8d;
        display: flex;
        align-items: center; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftInfoMenu__userName .text {
          font-family: 'OpenSans-Semibold';
          color: white;
          font-size: 14px;
          vertical-align: middle; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLinkActive {
        color: #b35a8d !important; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLinkActive i {
          color: #b35a8d !important;
          width: 25px; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink {
        display: block;
        background: #eeeeee;
        width: 230px;
        font-size: 14px;
        font-family: 'OpenSans-Regular';
        text-decoration: none;
        padding-bottom: 15px;
        padding-top: 15px;
        color: black; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink:hover {
          color: #b35a8d !important; }
          .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink:hover i {
            color: #b35a8d !important;
            width: 25px; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink i {
          margin-right: 15px;
          font-size: 21px;
          color: #bcbcbc;
          padding-left: 15px; }
    .body .main-section .main-section__left .main-section__leftInfoCode {
      padding-top: 25px;
      height: 175px;
      display: block;
      width: 230px;
      box-shadow: 0 0 3px 3px whitesmoke;
      box-sizing: border-box;
      border-radius: 5px;
      text-align: center; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__activationText {
        color: black;
        font-family: 'OpenSans-Regular';
        font-size: 14px; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__inputActivate {
        margin-top: 15px;
        width: 200px;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 15px;
        border: none;
        border: 1px solid grey;
        border-radius: 5px; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__buttonActivate {
        width: 200px;
        height: 40px;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        background: #ffb744;
        border: none;
        cursor: pointer; }
    .body .main-section .main-section__left .main-section__leftBonusInfo {
      display: block;
      height: 130px;
      border-radius: 5px;
      width: 230px;
      margin-top: 20px;
      box-shadow: 0 0 3px 3px whitesmoke;
      text-align: center;
      padding-top: 25px; }
      .body .main-section .main-section__left .main-section__leftBonusInfo .main-section__bonusText {
        color: black;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        margin-bottom: 25px; }
      .body .main-section .main-section__left .main-section__leftBonusInfo .main-section__bonusPoints {
        color: #6c578f;
        font-size: 20px;
        font-family: 'OpenSans-Bold'; }
  .body .main-section .main-section__right {
    width: 700px; }
    .body .main-section .main-section__right .profile-form .profile-form__element {
      margin-bottom: 15px; }
      .body .main-section .main-section__right .profile-form .profile-form__element label {
        display: inline-block;
        width: 190px;
        font-family: 'OpenSans-Regular';
        font-size: 14px; }
      .body .main-section .main-section__right .profile-form .profile-form__element .profile-form__input {
        border: none;
        border: 1px solid grey;
        border-radius: 3px;
        width: 510px;
        height: 40px;
        padding-left: 10px;
        box-sizing: border-box;
        font-family: 'OpenSans-Regular'; }
    .body .main-section .main-section__right .profile-form .profile-form__button {
      width: 200px;
      height: 40px;
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      background: #b35a8d;
      border: none;
      color: white;
      float: right;
      margin-top: 20px;
      cursor: pointer; }
.body .footer {
  height: 90px;
  width: 100%;
  background: #eeeeee;
  position: relative;
  bottom: 0; }
  .body .footer .footer__content {
    width: 970px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    .body .footer .footer__content .footer__copyright {
      font-family: 'OpenSans-Regular';
      font-size: 12px; }
  .body .footer .footer__socials-hidden {
    visibility: hidden; }
  .body .footer .footer__socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 250px; }
    .body .footer .footer__socials a {
      width: 21px;
      height: 21px; }
    .body .footer .footer__socials .footer__socials-phone {
      background: url(../images/1.png); }
    .body .footer .footer__socials .footer__socials-telegram {
      background: url(../images/2.png); }
    .body .footer .footer__socials .footer__socials-wp {
      background: url(../images/3.png); }
    .body .footer .footer__socials .footer__socials-number {
      font-family: 'OpenSans-Semibold';
      font-size: 14px;
      color: #007740; }
.body .section-wrap {
  width: 1270px;
  margin: 0 auto;
  background: url(../images/colorBg.png); }
  .body .section-wrap .section-wrap__sub {
    background: url(../images/imgBg.jpg) no-repeat right center;
    background-size: 50% 100%;
    padding-bottom: 80px; }
.body .main-section2 {
  padding-top: 60px;
  padding-bottom: 69px;
  width: 970px;
  margin: 0 auto;
  display: block; }
  .body .main-section2 .reg-form {
    display: block;
    width: 250px;
    margin-left: 100px; }
    .body .main-section2 .reg-form .reg-form__heading {
      text-align: center;
      font-size: 16px;
      font-family: 'OpenSans-Regular';
      color: white;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .body .main-section2 .reg-form .reg-form__input {
      width: 100%;
      margin-bottom: 10px;
      height: 40px;
      border-radius: 5px;
      border: none;
      font-size: 13px;
      font-family: 'OpenSans-Regular';
      padding-left: 30px;
      box-sizing: border-box; }
    .body .main-section2 .reg-form .reg-form__button {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      color: white;
      font-family: 'OpenSans Regular';
      background: #ffa4aa;
      border: none;
      border-radius: 5px;
      font-size: 14px; }

.main-section__planInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-section__subtext {
  color: #b35a8d;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  text-transform: uppercase; }

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 10px; }

progress::-webkit-progress-bar {
  background-color: #ffb744;
  border-radius: 2px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.main-section__planElement__text {
  text-transform: uppercase; }

.main-section__planElement__count, .main-section__planElement__text {
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.main-section__planElement__count {
  padding: 10px;
  background: #b35a8d;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-family: 'OpenSans-Semibold'; }

.main-section__planProgressBar__distribution {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-section__planProgressBar {
  margin-bottom: 60px; }

.main-section__right hr {
  color: #b35a8d;
  background: #b35a8d;
  height: 1px;
  display: block;
  margin-bottom: 20px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  text-align: left;
  padding: 8px; }

td {
  text-align: center;
  height: 20px;
  vertical-align: middle; }

tr:nth-child(odd) {
  background-color: whitesmoke; }

tr > th {
  text-align: center;
  font-family: 'OpenSans-Regular';
  width: 25%;
  height: 50px;
  vertical-align: middle;
  color: white; }

.table__purple {
  background: #b35a8d; }

.table__deeppurple {
  background: #6c578f; }

.table__green {
  background: #00a68b; }

.table__blue {
  background: #386c9c; }

.table__total {
  background: none; }

.table__total > td {
  font-family: 'OpenSans-Bold'; }

.main-section__infoParagraph {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  margin-bottom: 30px; }

.main-section__conditionsList {
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.main-section__condition:before {
  content: "• ";
  vertical-align: middle;
  color: #b35a8d;
  font-size: 32px !important; }

.main-section__planTime {
  text-transform: uppercase;
  font-family: 'OpenSans-Semibold';
  color: #386c9c;
  margin-top: 20px; }

.main-section__condtionElement {
  margin-bottom: 40px; }

.number__label {
  position: relative; }

.number__label .fa-mobile-phone, .number__label .fa-envelope-o, .number__label .fa-child, .number__label .fa-lock {
  color: #9e9e9e;
  top: 2px;
  left: 15px;
  position: absolute; }

.reg-form__input__promo {
  padding-left: 5px !important; }

.fa-mobile-phone {
  top: -3px !important;
  font-size: 1.5em !important; }

.reg-form__input {
  padding-left: 50px !important; }

.reg-form__change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.reg-form__change__p {
  width: 50%;
  color: white;
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.reg-form__change__button {
  font-family: 'OpenSans-Regular';
  width: 50%;
  color: white;
  background: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
  height: 40px; }

/*# sourceMappingURL=style.css.map */
