@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
.body .header {
  height: 90px;
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .body .header .header__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 455px; }
  .body .header .header__link {
    color: #010101;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-family: 'OpenSans-Regular';
    padding: 10px 15px;
    margin-right: 15px; }
    .body .header .header__link:hover {
      background: #ffb744;
      border-radius: 5px; }
  .body .header .header__link-active {
    background: #ffb744;
    border-radius: 5px; }
  .body .header .header__link-out {
    color: #bcbcbc;
    margin-right: 0px;
    padding-right: 0px; }
    .body .header .header__link-out:hover {
      background: none; }
    .body .header .header__link-out i {
      margin-right: 5px; }
.body .main-section {
  width: 970px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .body .main-section .main-section__left {
    width: 265px; }
    .body .main-section .main-section__left .main-section__leftInfoMenu {
      margin-bottom: 20px;
      background: #eeeeee;
      width: 230px;
      background-color: white;
      height: 228px; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftInfoMenu__userName {
        width: 230px;
        padding-left: 15px;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        vertical-align: middle;
        height: 60px;
        background: #b35a8d;
        display: flex;
        align-items: center;
        text-transform: uppercase; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftInfoMenu__userName .text {
          font-family: 'OpenSans-Semibold';
          color: white;
          font-size: 14px;
          vertical-align: middle;
          line-height: 20px; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLinkActive {
        color: #b35a8d !important; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLinkActive i {
          color: #b35a8d !important;
          width: 25px; }
      .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink {
        display: block;
        background: #eeeeee;
        width: 230px;
        font-size: 14px;
        font-family: 'OpenSans-Regular';
        text-decoration: none;
        padding-bottom: 11px;
        padding-top: 12px;
        color: black; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink:hover {
          color: #b35a8d !important; }
          .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink:hover i {
            color: #b35a8d !important; }
        .body .main-section .main-section__left .main-section__leftInfoMenu .main-section__leftLink i {
          margin-right: 15px;
          font-size: 21px;
          color: #bcbcbc;
          padding-left: 15px;
          width: 25px; }
    .body .main-section .main-section__left .main-section__leftInfoCode {
      padding-top: 35px;
      height: 175px;
      display: block;
      width: 230px;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      box-sizing: border-box;
      border-radius: 5px;
      text-align: center; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__activationText {
        color: black;
        font-family: 'OpenSans-Regular';
        font-size: 14px; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__inputActivate {
        margin-top: 15px;
        width: 200px;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        border: 1px solid #bcbcbc;
        color: #adadad;
        font-size: 14px; }
      .body .main-section .main-section__left .main-section__leftInfoCode .main-section__buttonActivate {
        width: 200px;
        height: 40px;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: black;
        background-color: #ffb744;
        border-radius: 5px; }
    .body .main-section .main-section__left .main-section__leftBonusInfo {
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      display: block;
      height: 115px;
      border-radius: 5px;
      width: 230px;
      margin-top: 20px;
      text-align: center;
      padding-top: 25px; }
      .body .main-section .main-section__left .main-section__leftBonusInfo .main-section__bonusText {
        color: black;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        margin-bottom: 25px; }
      .body .main-section .main-section__left .main-section__leftBonusInfo .main-section__bonusPoints {
        color: #6c578f;
        font-size: 20px;
        font-family: 'OpenSans-Bold'; }
  .body .main-section .main-section__right {
    width: 750px; }
    .body .main-section .main-section__right .profile-form .profile-form__element {
      margin-bottom: 15px; }
      .body .main-section .main-section__right .profile-form .profile-form__element label {
        display: inline-block;
        width: 190px;
        font-family: 'OpenSans-Regular';
        font-size: 14px; }
      .body .main-section .main-section__right .profile-form .profile-form__element .profile-form__input {
        border: none;
        border: 1px solid grey;
        border-radius: 3px;
        width: 525px;
        height: 40px;
        padding-left: 10px;
        box-sizing: border-box;
        font-family: 'OpenSans-Regular'; }
    .body .main-section .main-section__right .profile-form .profile-form__button {
      width: 200px;
      height: 40px;
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      background: #b35a8d;
      border: none;
      color: white;
      float: right;
      margin-top: 20px;
      cursor: pointer; }
.body .footer {
  height: 90px;
  width: 100%;
  background: #eeeeee;
  position: relative;
  bottom: 0;
  padding-top: 30px; }
  .body .footer .footer__content {
    width: 970px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-items: flex-start; }
    .body .footer .footer__content .footer__copyright {
      font-family: 'OpenSans-Regular';
      font-size: 12px; }
  .body .footer .footer__socials-hidden {
    visibility: hidden; }
  .body .footer .footer__socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 250px; }
    .body .footer .footer__socials a {
      width: 21px;
      height: 21px; }
    .body .footer .footer__socials .footer__socials-phone {
      background: url(../images/1.png); }
    .body .footer .footer__socials .footer__socials-telegram {
      background: url(../images/2.png); }
    .body .footer .footer__socials .footer__socials-wp {
      background: url(../images/3.png); }
    .body .footer .footer__socials .footer__socials-number {
      font-family: 'OpenSans-Semibold';
      font-size: 14px;
      color: #007740; }
.body .section-wrap {
  width: 1270px;
  margin: 0 auto;
  background: url(../images/colorBg.png); }
  .body .section-wrap .section-wrap__sub {
    background: url(../images/imgBg.jpg) no-repeat right center;
    background-size: 50% 100%; }
.body .main-section2 {
  padding-top: 60px;
  padding-bottom: 69px;
  width: 970px;
  margin: 0 auto;
  display: block; }
  .body .main-section2 .reg-form {
    display: block;
    width: 250px;
    margin-left: 100px; }
    .body .main-section2 .reg-form .reg-form__heading {
      text-align: center;
      font-size: 16px;
      font-family: 'OpenSans-Regular';
      color: white;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .body .main-section2 .reg-form .reg-form__input {
      width: 100%;
      margin-bottom: 10px;
      height: 40px;
      border-radius: 5px;
      border: none;
      font-size: 13px;
      font-family: 'OpenSans-Regular';
      padding-left: 30px;
      box-sizing: border-box; }
    .body .main-section2 .reg-form .reg-form__button {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      color: white;
      font-family: 'OpenSans Regular';
      background: #ffa4aa;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer; }

.main-section__planInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-section__subtext {
  color: #b35a8d;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  text-transform: uppercase; }

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background: #eee; }

progress::-webkit-progress-bar {
  background-color: #fec93b;
  border-radius: 8px; }

.main-section__planElement__text {
  text-transform: uppercase; }

.main-section__planElement__count, .main-section__planElement__text {
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.main-section__planElement__count {
  margin-left: 20px !important;
  padding: 12px;
  background: #b35a8d;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  font-family: 'OpenSans-Semibold';
  margin-top: 0px;
  margin-bottom: 0px;
  width: 72px; }

.main-section__planProgressBar__distribution {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase; }
  .main-section__planProgressBar__distribution span {
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 17px; }

.distrnumbers span {
  margin-top: 0px;
  margin-bottom: 30px; }

.main-section__right hr {
  color: #b35a8d;
  background: #b35a8d;
  height: 1px;
  display: block; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  text-align: left;
  padding: 8px; }

td {
  text-align: center;
  height: 20px;
  vertical-align: middle; }

tr:nth-child(odd) {
  background-color: whitesmoke; }

tr > th {
  font-size: 14px;
  border-right: 5px solid #fff;
  text-align: center;
  font-family: 'OpenSans-Regular';
  width: 25%;
  height: 42px;
  vertical-align: middle;
  color: white; }

.table__purple {
  background: #b35a8d; }

.table__deeppurple {
  background: #6c578f; }

.table__green {
  background: #00a68b; }

.table__blue {
  background: #386c9c; }

.table__total {
  background: none; }

.table__total > td {
  font-family: 'OpenSans-Bold'; }

.main-section__infoParagraph {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  margin-bottom: 30px; }

.main-section__conditionsList {
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.main-section__condition:before {
  content: "• ";
  vertical-align: middle;
  color: #b35a8d;
  font-size: 32px !important; }

.main-section__planTime {
  text-transform: uppercase;
  font-family: 'OpenSans-Semibold';
  color: #386c9c;
  margin-top: 20px; }

.main-section__condtionElement {
  margin-bottom: 40px; }

.number__label {
  position: relative; }

.number__label .fa-mobile-phone, .number__label .fa-envelope-o, .number__label .fa-child, .number__label .fa-lock {
  color: #9e9e9e;
  top: 2px;
  left: 15px;
  position: absolute; }

.reg-form__input__promo {
  padding-left: 5px !important; }

.fa-mobile-phone {
  top: -3px !important;
  font-size: 1.5em !important; }

.reg-form__input {
  padding-left: 50px !important; }

.reg-form__change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.reg-form__change__p {
  width: 50%;
  color: white;
  font-family: 'OpenSans-Regular';
  font-size: 14px; }

.reg-form__change__button {
  font-family: 'OpenSans-Regular';
  width: 50%;
  color: white;
  background: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
  height: 40px;
  cursor: pointer; }

.reg-form__login__sc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px; }

.reg-form__login__sc .reg-form__tw {
  width: 48%;
  border: 1px solid white;
  border-radius: 5px; }

.reg-form__login__sc .reg-form__tw i {
  font-size: 1.4em;
  margin-left: 5px; }

.reg-form__login__sc .reg-form__fb i {
  font-size: 1.4em;
  margin-left: 5px; }

.reg-form h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: 'OpenSans-Regular'; }

.reg-form h4:after {
  display: inline-block;
  margin: 0 0 3px 20px;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: white;
  width: 90px; }

.reg-form h4:before {
  display: inline-block;
  margin: 0 20px 3px 0;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: white;
  width: 90px; }

.main-section__chooseText {
  color: black;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  margin-bottom: 21px;
  margin-top: 30px; }

.main-section__select {
  outline: none;
  height: 36px;
  overflow: hidden;
  width: 402px;
  background-color: #1485a6;
  border-radius: 5px;
  cursor: pointer; }

.main-section__select select {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 10px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 36px;
  width: 268px;
  color: white;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  width: 402px; }

.main-section__select:focus {
  outline: none; }

.main-section__select select option {
  color: black; }

.main-section__operatorsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px; }

.main-section__operatorsListElement {
  cursor: pointer;
  width: 125px;
  height: 64px;
  background-color: white;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin-right: 15px; }

.main-section__tele2 {
  background: url(../images/tele2.png) center center no-repeat; }

.main-section__beeline {
  background: url(../images/beeline.png) center center no-repeat; }

.main-section__kcell {
  background: url(../images/kcell.png) center center no-repeat; }

.main-section__activ {
  background: url(../images/activ.png) center center no-repeat; }

.main-section__altel {
  background: url(../images/altel.png) center center no-repeat; }

.main-section__exchangeOptions {
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px; }

.main-section__exchangeInput {
  width: 204px;
  height: 36px;
  background-color: white;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  color: #c2c2c2;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  padding-left: 18px;
  box-sizing: border-box; }

.main-section__exchangeButton {
  width: 186px;
  height: 36px;
  background-color: #7cc351;
  border-radius: 5px;
  color: #010101;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  border: none;
  cursor: pointer; }

.forgot__password {
  font-family: "OpenSans-Semibold";
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: 20px;
  color: white; }

.reg-form__inputpass {
  background-image: url(../images/eye.png);
  background-repeat: no-repeat;
  background-position: 95% center; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  border-radius: 10px !important;
  box-sizing: border-box;
  padding: 30px;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 270px;
  height: 190px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.modal-content p {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  margin-bottom: 30px; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.number__label__changer {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  left: 85%;
  top: -6px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
